fastapi
ipython
matplotlib
numpy
opencv-python
Pillow
pydantic
python-dateutil
python-doctr
python-multipart
requests
scikit-image
scipy
tqdm
uvicorn
pillow==9.2
pytesseract
pdf2image
layoutparser
bs4
torch
torchvision
