fastapi
ipython
matplotlib
numpy
opencv-python
Pillow
torch
pydantic
python-dateutil
python-doctr
python-multipart
requests
scikit-image
scipy
tqdm
uvicorn
jupyter
pandas
python-doctr[torch]
rapidfuzz
pytesseract
scikit-learn
tensorflow
snorkel
TextBlob